#indice a:visited{
    color: red;
    text-decoration: none;
    font-style: italic;
    text-decoration: none;
}
#indice li>a:hover{
    background-color: White;
    color: Gray;
    text-transform: uppercase;
}
#piedepagina a:link{
    color: green;
    text-decoration: none;
}
#piedepagina a:hover{
    background-color: white;
    border-style: solid;
    border-color: black;
    font-style: normal;
    color: teal;
}
